<div class="container">
  <div class="cards-container">
    <div class="row">
    <h2>Mes bolides</h2>
     <% @cars.each do |car| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="card">
             <div class="card-description">
               <h3><%= car.name %></h3>
               <h7><%= car.model %></h7>
               <h7><%= car.description %></h7>
               <%= cl_image_tag car.photo %>
               <br>
               <%= link_to "Modifier mon bolide", edit_car_path(car)%>
               <br>
               <%= link_to "Supprimer mon bolide", my_car_path(car), method: :delete,
      data: { confirm: "Eh gros Jacky, es-tu certain de vouloir retirer ton bolide de Rent A Bolide ?" }  %>
                <br>
                <h8>J'ai <%= car.bookings.count%> <%=("reservation").pluralize%> sur mon bolide</h8>
             </div>
         </div>
       </div>
     <% end %>
     </div>
  </div>

  <%=link_to "Retour", root_path, class: "btn btn-danger" %>
</div>
</div>
