<div class="container">
  <div class="cards-container">
    <div class="row">
     <% @cars.each do |car| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="card">
             <div class="card-description">
               <h4><%= car.name %></h4>
               <h6><%= car.model %></h6>
               <h6><%= car.description %></h6>
               <%= cl_image_tag car.photo %>
               <br> <br>
               <%= link_to "Modifier mon bolide", edit_car_path(car)%>
               <br>
               <%= link_to "Supprimer mon bolide", my_car_path(car), method: :delete,
      data: { confirm: "Eh gros Jacky, es-tu certain de vouloir retirer ton bolide de Rent A Bolide ?" }  %>
             </div>
         </div>
       </div>
     <% end %>
     </div>
  </div>

  <%=link_to "Retour", root_path, class: "btn btn-danger" %>
</div>


  <svg height="0">
    <mask id="mask-1">
      <div id="container-mulet" class="target">
        <%= image_tag 'logo_mulet_4.svg' %>
        <video autoplay="true" id="videoElement"></video>
      </div>
    </mask>
  </svg>

</div>
