<div class="container">
  <div class="cards-container">
    <div class="row">
        <h2>Mes réservations </h2>
        <% @bookings.each do |booking| %>
            <div class="col-xs-8 col-sm-6 col-md-4">
             <div class="card">
                <div class="card-description">
                  <%= cl_image_tag booking.car.photo %>
                  <h6>Véhicule réservé</h6>
                  <h6><strong><%= booking.car.name %></strong></h6>
                  <h6>Propriétaire : <%= booking.car.user.email %><h6>
                  <h8>Modèle : <%= booking.car.model %></h8>
                  <br>
                  <h7>Du <%= booking.start_time.strftime("%d/%m/%Y") %> au <%= booking.end_time.strftime("%d/%m/%Y")%></h7>
                  <br> <br>
                  <h9>Réservation effectuée le : <%= booking.created_at.strftime("%d/%m/%Y") %></h9>
                  <br><br>
                  <%= link_to "Supprimer ma réservation", booking_path(booking), method: :delete,
      data: { confirm: "Eh gros Jacky, es-tu certain de vouloir supprmier ta réservation Rent A Bolide ?" }  %>
                </div>
              </div>
            </div>
        <% end %>
    </div>
    <%=link_to "Retour", root_path, class: "btn btn-danger" %>
  </div>
</div>
