<div class="container">
 <div class="row">
   <h2>Mes réservations :</h2>
   <%=link_to "Retour", car_path(car) %>
   <% @bookings.each do |booking| %>
     <div class="card">
       <h4>Véhicule loué : <%= booking.car.first_name %> <%= booking.car.last_name %></h4>
       <h4>Propriétaire : <%= booking.user %></h4>
       <h6>Modèle :<%= booking.car.description %></h6>
       <h6>Du :<%= booking.start_time %> au <%= booking.end_time %></h6>
     </div>
   <% end %>
 </div>
</div>
