<div class="navbar-wagon navbar-fixed-top">
  <!-- navbar-fixed-top -->
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_rent_a_bolide_3.svg", height: 80 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <% if user_signed_in? %>

      <!-- Links when logged in -->
    <div class="neon-link">
      <%= link_to "Mes locations", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Ajouter un bolide", new_car_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Mes bolides", my_cars_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
    </div>

    <% end %>

    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
