<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1503221507150-dcb5a13416ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e2f066c8543d078fc0f6936ac0bd700d&auto=format&fit=crop&w=3300&q=80');">
  <div class="banner-content">
    <h1>Rent A Bolide</h1>
    <p>Pour les fans de bolidage extrême</p>
  </div>
</div>

<div class="main-container">
  <div class="cards-container">
    <div class="row">
     <% @cars.each do |car| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="card">
             <div class="card-description">
               <%= image_tag car.photo_url %>
               <h4><%= car.name %></h4>
               <h6><%= car.model %></h6>
               <h6><%= car.description %></h6>
               <br> <br>
               <div class="see-more">
                <%=link_to "See more", car_path(car), class: "btn btn-success btn-sm" %>
               </div>
             </div>
         </div>
       </div>
     <% end %>
     </div>
  </div>

  <div id="map", data-markers="<%= @markers.to_json %>"></div>
</div>
